@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #7868E6;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-family: "Inter Tight", sans-serif;


}

.links-section {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    width: 250px;
    height: 500px;
    margin: 100px auto 100px auto;
  
}

.links-section {
    display: flex;
    font-size: 35px;
    padding: 20px;
    margin: 10px;
}

.link-tile {
    color: white;
    width: 50%;
    height: 50px;
    background-color: rgba(178,171,238);
    border-radius: 15px;
    text-align: center;
    border: 2px solid black;
    text-decoration: none;
    
}

.bio-section {
    padding-top: 25px;
    text-align: center;
    align-items: center;
    width: 25%;
    
    height: 300px;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    width: max-content;
}

.my-img {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 100%;
}

.icon {
    width: 10px;
    height: 10px;
    display: inline-block;
}

